
/* body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}   


.container {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 1rem;
}

.card-clima {
    text-align: center;
    background-color: royalblue;
} */


/* Fundo geral */
body {
  background-color: #cfe7f5;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.app-container {
  background-color: #e9f3fb;
  max-width: 400px;
  padding: 10rem 1.5rem;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* Card do clima */
.card-clima {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  border: 1px solid #f8f8f8;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
}

/* Cidade */
.card-clima .card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

/* Ícone */
.card-clima img {
  width: 70px;
  margin: 1rem auto;
  display: block;
}

/* Temperatura */
.card-clima .temperatura {
  font-size: 2.6rem;
  font-weight: bold;
  color: #222;
}

/* Umidade */
.card-clima .umidade {
  color: #555;
  margin-bottom: 1rem;
}

/* Linha divisória */
.card-clima hr {
  margin: 1rem 0;
  border-color: #ddd;
}

/* Mensagem */
.card-clima .mensagem {
  color: #d35400;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
}
