body {
  background-color: #cfe7f5;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Container principal */
.app-container {
  background-color: #e9f3fb;
  padding: 1.5rem;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  width: 100%;
}

/* Card do clima */
.card-clima {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  border: 1px solid #f8f8f8;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
}

/* Cidade */
.card-clima .card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

/* Ícone */
.weather-icon {
  width: 70px;
  margin: 1rem auto;
  display: block;
}

/* Temperatura */
.card-clima .temp {
  font-size: 2.6rem;
  font-weight: bold;
  color: #222;
}

/* Umidade */
.card-clima .humidity {
  color: #555;
  margin-bottom: 1rem;
}

/* Mensagem */
.card-clima .message {
  color: #d35400;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
}

/* Botão branco */
.search-button {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ced4da;
}

.search-button:hover {
  background-color: #f2f2f2;
}
